@import '_dark-theme.scss';

:host {
  nav {
    background-color: $primary;
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .main-container {
    width: 100vw;
    height: calc(100vh - 3rem);

    &--sidenav {
      padding: 20px;
      width: 15rem;
    }

    &--content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
